<aside class="bg-light border-end" id="sidebar-wrapper">
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">
            <a href="{{ path('app_dashboard') }}" class="text-decoration-none text-dark">Dashboard</a>
        </li>
        {# <li class="list-group-item bg-light">
            <a href="{{ path('app_profile') }}" class="text-decoration-none text-dark">Profil</a>
        </li> #}
    </ul>
</aside>
